html {
  background-color: rgb(225, 225, 225);
}

.App {
  padding: 30px;
  display: flex;
  flex-direction: row;
  background-color: rgb(225, 225, 225);
}

.MainGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-right: 35px;
  align-items: start;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-wrap: wrap;
  justify-content: safe center;
}

.PlayerCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 350px;
  height:  550px;
  padding: 30px;
  /* border-radius */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 20px;
  background-color: white;
}

.StatsDisplay {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Roster {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  /* border-radius */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 20px;
  background-color: white;

}